<?xml version="1.0"?>
<launch>
	<node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode" output="screen">
		<param name="serial_port" value="/dev/rplidar"/>
		<param name="frame_id" value="laser_link"/>
		<param name="angle_compensate" value="true"/>
		<remap from="scan" to="base_scan"/>
	</node>
	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filters">
		<remap from="scan" to="base_scan"/>
		<remap from="scan_filtered" to="scan"/>
		<rosparam command="load" file="$(find roborts_bringup)/config/laser_filter.yaml"/>
	</node>
</launch>
