<launch>
  <master auto="start"/>
  <include file="$(find roborts_bringup)/launch/base.launch" />
  <include file="$(find roborts_bringup)/launch/lidar.launch" />
  <include file="$(find roborts_bringup)/launch/slam.launch"/>
  <include file="$(find roborts_bringup)/launch/static_tf.launch" />
</launch>

