<?xml version="1.0"?>
<launch>
	<arg name="planner_map" default="icra2021-full" />

	<group>
		<remap from="map" to="planner_map" />
		<remap from="map_metadata" to="planner_map_metadata" />
		<remap from="static_map" to="planner_static_map" />

		<node name="planning_map_server" pkg="map_server" type="map_server" args="$(find roborts_bringup)/maps/$(arg planner_map).yaml" respawn="false" />
		<node pkg="move_base" type="move_base" name="move_base" output="screen">
			<rosparam file="$(find roborts_bringup)/config/costmap/common.yaml" command="load" ns="global_costmap" />
			<rosparam file="$(find roborts_bringup)/config/costmap/common.yaml" command="load" ns="local_costmap" />
			<rosparam file="$(find roborts_bringup)/config/costmap/local.yaml" command="load" />
			<rosparam file="$(find roborts_bringup)/config/costmap/global.yaml" command="load" />
			<rosparam file="$(find roborts_bringup)/config/planner/local.yaml" command="load" />
		</node>
	</group>
</launch>
