<?xml version="1.0"?>
<launch>
	<param name="team_color" value="red" /> <!-- TODO: retrive from referee system -->

	<node pkg="roborts_base" type="roborts_base_node" name="roborts_base_node" output="screen" respawn="true">
		<remap from="serial_port" to="~serial_port" />
		<remap from="load_module" to="~load_module" />
		<param name="serial_port" value="/dev/serial_sdk" />
		<param name="fric_speed" value="1300" />
	</node>

	<node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode" output="screen" respawn="true">
		<param name="serial_port" value="/dev/rplidar" />
		<param name="frame_id" value="laser_link" />
		<param name="angle_compensate" value="true" />
		<remap from="scan" to="base_scan" />
	</node>

	<node name="armor_detector" pkg="armor_detector" type="armor_detector" output="screen" respawn="true">
		<param name="camera_frame" value="camera_link_optical" />
	</node>

	<param name="bullet_velocity" value="15.32" />
	<node name="shoot_controller" pkg="shoot_controller" type="shoot_controller" output="screen">
		<param name="use_measured_velocity" value="false" />
	</node>
	<node name="trajectory_visualization" pkg="shoot_controller" type="trajectory_visualization" output="screen" />

	<node pkg="tf2_ros" type="static_transform_publisher" name="laser_link_broadcaster"
		args="0.18 0 0.262 3.141592654 0 0 base_link laser_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="yaw_base_link_broadcaster"
		args="0.01625 0 0 0 0 0 base_link yaw_base_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="pitch_base_link_broadcaster"
		args="0 0 0.4085 0 0 0 yaw_link pitch_base_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="shoot_link_broadcaster"
		args="0.19098 0 0 0 0 0 pitch_link shoot_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_optical_broadcaster"
		args="0 0 0 -1.570796327 0 -1.570796327 camera_link camera_link_optical" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
		args="0.20575 0.0325 0.29 0 0.244346095 0 yaw_link camera_link" />
</launch>
