<?xml version="1.0"?>
<launch>
	<arg name="debug" default="false" />
	<arg name="robot_id" default="1" />
	<arg name="boot_area" default="c3" />

	<node pkg="roborts_base" type="roborts_base_node" name="roborts_base_node" output="screen" respawn="true">
		<remap from="serial_port" to="~serial_port" />
		<remap from="load_module" to="~load_module" />
		<param name="serial_port" value="/dev/serial_sdk" />
		<param name="fric_speed" value="1340" if="$(eval robot_id == 1)" />
		<param name="fric_speed" value="1270" if="$(eval robot_id == 2)" />
		<param name="continuous_shoot_freq" value="2000" if="$(eval robot_id == 1)" />
		<param name="continuous_shoot_freq" value="2500" if="$(eval robot_id == 2)" />
	</node>

	<node pkg="robot_info_publisher" type="robot_info_publisher" name="robot_info_publisher" output="screen" />

	<node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode" output="screen" respawn="true">
		<param name="serial_port" value="/dev/rplidar" />
		<param name="frame_id" value="laser_link" />
		<param name="angle_compensate" value="true" />
		<remap from="scan" to="base_scan" />
	</node>

	<node name="armor_detector" pkg="armor_detector" type="armor_detector" output="screen" respawn="true">
		<param name="camera_frame" value="camera_link_optical" />
	</node>

	<param name="initial_bullet_velocity" value="20.24" if="$(eval robot_id == 1)" />
	<param name="initial_bullet_velocity" value="18.6" if="$(eval robot_id == 2)" />

	<node name="shoot_controller" pkg="shoot_controller" type="shoot_controller" output="screen">
		<param name="pitch_compensation" value="0.016" if="$(eval robot_id == 1)" />
		<param name="pitch_compensation" value="0" if="$(eval robot_id == 2)" />
		<param name="debug_print_target" value="$(arg debug)" />
		<param name="gun_barrel_length" value="0.19098" />
		<param name="bullets_per_shoot" value="2" if="$(eval robot_id == 1)" />
		<param name="bullets_per_shoot" value="2" if="$(eval robot_id == 2)" />
	</node>
	<node name="trajectory_visualization" pkg="shoot_controller" type="trajectory_visualization" output="screen" />
	<node name="fric_wheel_control" pkg="shoot_controller" type="fric_wheel_control" output="screen" />

	<node name="simple_decision" pkg="simple_decision" type="simple_decision" output="screen">
		<param name="boot_area" value="$(arg boot_area)" />
	</node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="laser_link_broadcaster"
		args="0.18 0 0.262 3.141592654 0 0 base_link laser_link" output="screen" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="yaw_base_link_broadcaster"
		args="0.01625 0 0 0 0 0 base_link yaw_base_link" output="screen" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="pitch_base_link_broadcaster"
		args="0 0 0.4085 0 0 0 yaw_link pitch_base_link" output="screen" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="shoot_link_broadcaster"
		args="0.19098 0 0 0 0 0 pitch_link shoot_link" output="screen" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_optical_broadcaster"
		args="0 0 0 -1.570796327 0 -1.570796327 camera_link camera_link_optical" output="screen" />
	<!-- AI Robot 1 -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
		args="0.20575 0.0325 0.29 0 0.244 -0.03 yaw_link camera_link" if="$(eval robot_id == 1)" output="screen" />
	<!-- AI Robot 2 -->
	<node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
		args="0.20575 0.0325 0.29 0 0.228 -0.06 yaw_link camera_link" if="$(eval robot_id == 2)" output="screen" />
</launch>
