<?xml version="1.0"?>
<launch>
	<node pkg="roborts_base" type="roborts_base_node" name="roborts_base_node" output="screen" respawn="true" />

	<node name="rplidar_node" pkg="rplidar_ros" type="rplidarNode" output="screen">
		<param name="serial_port" value="/dev/rplidar" />
		<param name="frame_id" value="laser_link" />
		<param name="angle_compensate" value="true" />
		<remap from="scan" to="base_scan" />
	</node>

	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_base_laser_link_broadcaster"
		args="0.20 0.0 0.27 3.14 0.0 0.0 base_link laser_link" />
	<node pkg="tf2_ros" type="static_transform_publisher" name="base_link_camera_link_broadcaster"
		args="0.0  0.0 0.0  0.0  0.0 0.0 base_link camera" />
</launch>
