<?xml version="1.0"?>
<launch>
	<include file="$(find roborts_bringup)/launch/real_robot.launch" pass_all_args="true" />
	<include file="$(find roborts_bringup)/launch/laser_filter.launch" />
	<include file="$(find roborts_bringup)/launch/localization.launch" />
	<include file="$(find roborts_bringup)/launch/planning.launch" />
</launch>
