<launch>
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="headless" default="true"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find icra_robomaster_emulator)/worlds/ICRA_2020.world"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <node pkg="rosservice" type="rosservice" name="gazebo_2dmap_plugin_invoker" args="call --wait /gazebo_2Dmap_plugin/generate_map"/>

    <node required="true" pkg="map_server" type="map_saver" name="map_saver" args="-f $(env PWD)/map">
        <remap from="/map" to="/map2d"/>
    </node>

</launch>
